# Data Set Up

Merge FX rate, IR, Foward Rate

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [4]:
# load data
FX = pd.read_csv("Currency_Data.csv")
IR = pd.read_csv("IR_Data.csv")
FR = pd.read_csv("Foward_Rate_Data.csv")

In [5]:
# deal with date time
FX['Date'] = FX['Date'].apply(lambda x:datetime.strptime(x, '%d/%m/%Y'))
IR['Date'] = IR['Date'].apply(lambda x:datetime.strptime(x, '%d.%m.%Y'))
FR['Date'] = FR['Date'].apply(lambda x:datetime.strptime(x, '%d/%m/%Y'))
FR['SpotDate'] = FR['SpotDate'].apply(lambda x:datetime.strptime(x, '%d/%m/%Y'))

In [6]:
# drop extra cols
FR = FR.drop(['Currency', 'SpotRate'], axis=1)

In [7]:
# merge threee dataframes
FX_IR = pd.merge(FX,IR,on='Date')
FX_IR_FR = pd.merge(FX_IR, FR, on='Date')

In [8]:
# multiple date error
FX_IR[FX_IR['Date'] == pd.to_datetime('2012-09-25 00:00:00')]

,Currency,Date,SpotRate,1MF,2MF,3MF,6MF,12MF,1MUSD,2MUSD,3MUSD,6MUSD,12MUSD,1MJPY,2MJPY,3MJPY,6MJPY,12MJPY
1680,USD/JPY,2012-09-25,77.7900,77.7688,77.7486,77.7276,77.6375,77.4341,0.2155,0.29425,0.3635,0.64565,0.97825,0.13943,0.15443,0.19157,0.31943,0.53657
1681,USD/JPY,2012-09-25,77.7998,77.7788,77.7588,77.7368,77.6468,77.4312,0.2155,0.29425,0.3635,0.64565,0.97825,0.13943,0.15443,0.19157,0.31943,0.53657

In [9]:
# len(FX_IR_FR) - (FX_IR_FR.count()) #check for nans
FX_IR_FR.to_pickle('FX_IR_FR.csv')